<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AIPlayerDirectory" value="C:\TEMP\AIFG-SNAILS\Players\" />
    <add key="IndividualAIPlayerPath" value="C:\TEMP\AIFG-SNAILS\Players\Searcher.dll" />
    <add key="TerrainDirectory" value="C:\TEMP\AIFG-SNAILS\Terrains\" />
    <add key="ResultsDirectory" value="C:\TEMP\AIFG-SNAILS\Results\" />
  </appSettings>

</configuration>